h1 {
    text-align: center;
    color: lime;
    background-color: darkgreen;
}

p {
    text-align: left;
    color: lime;
    background-color: darkgreen;
}

nav {
    text-align: center;
    background-color: lime;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: blanchedalmond;
    text-align: center;
}

li {
    list-style-type: none;
    background-color: lime;
}

p2 {
    color: transparent;
}

body {
    background-image: url(TroopFlag.jpg);
    background-size: cover;
}